/* Slider */
.react-simplify-carousel-slider-root {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.react-simplify-carousel-slider {
  display: flex;
  transform: translateX(0);
  transition: transform 0.2s ease-out;
  touch-action: none;
}

.react-simplify-carousel-slider--disabled-transition {
  transition: initial;
}

.react-simplify-carousel-slider--swipeable {
  cursor: grab;
}

.react-simplify-carousel-slider--swipeable:active {
  cursor: grabbing;
}

/* Slide */
.react-simplify-carousel-slide>* {
  width: 100%;
}